.catPic {
 height: 70px;
 width: 70px;
}

.friendAddBtn:hover {
    background-color: #fb6000;
}

.friendAddBtn,
.friendDeleteBtn {
    background-color: black;
    border: none;
    margin-bottom: .5em;
    color: white;
    border-radius: .3em;
}

.friendCardContent {
    background-color: #c8b0e5;
    margin: 1em;
    border-radius: 1em;
}