small {
    font-size: 60%;
    text-transform: none;
  }
  
  header {
    background-color: #fafafa;
    border: #F2A11F 3px;
  }
  
  .site-title {
    color: black;
    text-align: center;
  }
  
  nav .container {
    display: flex;
    padding: 0;
    margin-bottom: 0;
  }
  
  nav .container li {
    flex: 1;
    padding: 10px;
    text-align: center;
    font-size: 1.5em;
    color: white;
    box-sizing: border-box;
    background-color:#e9f3f7;
    list-style-type: none;
    font-family: 'Raleway', sans-serif;
  }
  
  nav .container a {
    color: black;
    text-decoration: none;
    text-transform: lowercase;
    letter-spacing: .25rem;
  }
  
  nav .container a:hover {
    color: white;
  }
  
  picture {
    height: 153.59px;
    width: auto;
  }
  
  .site-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 0;
  }