/* Components Border CSS */

/* .newsCardContainer {
    border-style: solid;
    border-color: black;
}

.newsFormContainer {
    border-style: solid;
    border-color: blue;
}

.eventCardContainer {
    border-style: solid;
    border-color: black;
}

.eventFormContainer {
    border-style: solid;
    border-color: red;
} */

.chatCardContainer {
    border-radius: 2em;
    display: flex;
    flex-direction: column;
    align-content: center;
}

/* .chatFormContainer {
    border-style: solid;
    border-color: purple;
} */

/* .taskCardContainer {
    border-style: solid;
    border-color: black;
}

.taskFormContainer {
    border-style: solid;
    border-color: green;
} */

.navbar {
    position: 0;
}

:root {
    display: flex;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
    background-color: black;
}

.leftSection {
    border-style: none;
    border-radius: 2em;
    display: flex;
    width: 25vw;
    height: 100vh;
    margin-top: 1em;
    margin-left: .5em;
    flex-direction: column;
}

.mainSection {
    border-style: none;
    display: flex;
    width: 50vw;
    height: 100vh;
    flex-direction: column;
    margin-top: 1em;
    margin-bottom: 1em;
}

.rightSection {
    border-style: none;
    border-radius: 2em;
    display: flex;
    width: 25vw;
    flex-direction: column;
    height: 100vh;
    margin-top: 1em;
    margin-right: .5em;
}

.chatContainer {
    margin-right: 1em;
    height: 50vh;
    background-color: whitesmoke;
    border-radius: 2em;
    margin-left: 1em;
    overflow-y: scroll;
}

.taskContainer {
    margin-right: 1em;
    margin-top: 1em;
    height: 50vh;
    background-color: whitesmoke;
    border-radius: 2em;
    margin-left: 1em;
    overflow-y: scroll;
}

h3 {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    font-size: 30px;
    color: black;
    padding-top: 15px;
    padding-left: 15px;
}

p {
    font-family: 'Raleway';
    text-transform: uppercase;
    padding-left: 1em;
    padding-top: 1em;
    margin-bottom: 0;
}

#intro {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 30px;
    color: #FAC0B6;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 20px;
}

#pic {
    height: 100px;
    width: 100px;
}

#logoutPic {
    height: 100px;
    width: 100px;
    margin-left: 4em;
    cursor: pointer;
}

.chatCardContent {
    width: 90%;
    background-color: #c8b0e5;
    margin-top: 1em;
    margin-bottom: 1em;
    border-radius: 1em;
}

.chatCard {
    display: flex;
    justify-content: center;
}

#deleteBtn {
    margin: .5em;
    background-color: #c8b0e5;
    border: none;
}

#deleteBtn:hover {
    color: black;
}

#editBtn {
    background-color: black;
    border: none;
}

#editBtn:hover {
    background-color: #fb6000;
}

#editBtnTask {
    background-color: black;
    border: none;
    margin-bottom: .5em;
}

#editBtnTask:hover {
    background-color: #fb6000;
}

.btn-info {
    background-color: black;
    border: none;
}

#modalFormBtn {
    margin-left: 15px;
    align-items: center;
    line-height: 25px;
    margin-bottom: 2em;
    background: #fb6000;
    border-style: none;
    width: 140px;
}

#modalFormBtn:hover {
    background-color: black;
}

.btn-success {
    margin-left: 15px;
    align-items: center;
    line-height: 25px;
    margin-bottom: 2em;
}

.friendContainer {
    background-color: whitesmoke;
    width: 100%;
    height: 100vh;
    border-radius: 2em;
    display: flex;
    flex-direction: row;
    overflow-y: scroll;
    flex-direction: column;
}

.eventContainer {
    background-color: whitesmoke;
    /* border-top-left-radius: 2em;
    border-top-right-radius: 2em; */
    height: 50vh;
    border-radius: 2em;
    overflow-y: scroll;
}

.newsContainer {
    background-color: whitesmoke;
    /* border-top-left-radius: 2em;
    border-top-right-radius: 2em; */
    height: 50vh;
    border-radius: 2em;
    margin-top: 1em;
    overflow-y: scroll;
}

#chatpic {
    height: 115px;
    width: 115px;
}

.eventCardContent {
    background-color: #c8b0e5;
    margin: 1em;
    border-radius: 1em;
}

.newsCardContent {
    background-color: #c8b0e5;
    margin: 1em;
    border-radius: 1em;
}

.taskCardContent {
    background-color: #c8b0e5;
    margin: 1em;
    border-radius: 1em;
}

#label {
    font-weight: 900;
}

.far {
    margin-left: 1em;
    margin-right: .25em;
}
::-webkit-scrollbar {
    display: none;
    }
