
.logRegContainer{
    background-image: url("../Images/mal4.png");
    background-repeat: no-repeat;
    width: 1269px;
    height: 735px;
    background-size: cover;
}

.logRegForm {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    padding-left: 55px;
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: white;
    opacity: .7;
}
